<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta
    http-equiv="X-UA-Compatible"
    content="IE=edge"
  />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1.0"
  />
  <title>Document</title>
  <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
  />
</head>

<body>
  <div
    id="app"
    class="py-3"
  >
    <div class="container">
      <div class="row">
        <div :class="[!detail.title ? 'col-12' : 'col-6']">
          <div class="text-end mt-4">
            <button
              type="button"
              class="btn btn-primary"
              @click="openModal('add')"
            >
              建立新的產品
            </button>
          </div>
          <table class="table text-center">
            <thead>
              <tr>
                <th>產品名稱</th>
                <th>原價</th>
                <th>售價</th>
                <th>是否啟用</th>
                <th>查看細節</th>
              </tr>
            </thead>
            <tbody>
              <tr
                v-for="product in products"
                :key="product.id"
              >
                <td>{{ product.title}}</td>
                <td>{{ product.origin_price}}</td>
                <td>{{ product.price}}</td>
                <td :class="[product.is_enabled? 'text-success' : 'text-danger']">
                  {{ product.is_enabled ? '啟用' : '未啟用'}}
                </td>
                <td>
                  <button
                    type="button"
                    class="btn btn-primary btn-sm"
                    @click="detail = product"
                  >
                    查看細節
                  </button>
                </td>
              </tr>
            </tbody>
          </table>
          <p>目前有 {{ products.length }} 項產品</p>
        </div>
        <div class="col-6">
          <template v-if="detail.title">
            <h2>單一產品細節</h2>
            <div class="card">
              <div class="text-center py-3">
                <img
                  :src="detail.imageUrl"
                  class="card-img-top w-50"
                  :alt="detail.category"
                />
              </div>
              <div class="card-body">
                <h5 class="card-title">
                  {{ detail.title }}
                  <span class="badge bg-primary">{{detail.category
                    }}</span>
                </h5>

                <p class="card-text">商品描述： {{ detail.description }}</p>
                <p class="card-text">商品內容：尺寸：{{ detail.content }}</p>
                <p class="card-text">
                  <span>{{detail.price}}</span>
                  <span
                    class="text-muted text-decoration-line-through mx-1">{{detail.origin_price}}</span>{{detail.unit}} /
                  元
                </p>
              </div>
            </div>
            <div class="my-3">
              <img
                class="image mx-3"
                v-for="img in detail.imagesUrl"
                :src="img"
              />
            </div>
          </template>
        </div>
      </div>
    </div>

    <!-- Modal -->
    <div
      id="productModal"
      ref="productModal"
      class="modal fade"
      tabindex="-1"
      aria-labelledby="productModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-xl">
        <div class="modal-content border-0">
          <div class="modal-header bg-dark text-white">
            <h5
              id="productModalLabel"
              class="modal-title"
            >
              <span>{{modalTitle}}</span>
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            <div class="row">
              <div class="col-sm-4">
                <div class="mb-2">
                  <div class="mb-3">
                    <label
                      for="imageUrl"
                      class="form-label"
                    >主要圖片網址</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="請輸入圖片連結"
                      v-model.trim="productData.image"
                    >
                  </div>
                  <img
                    class="img-fluid"
                    :src="productData.image"
                    alt="主要圖片"
                  >
                </div>
                <div class="mb-2">
                  <div
                    class="mb-3"
                    v-for="img,index in productData.imagesUrl"
                    :key="'img'+index"
                  >
                    <label
                      for="imageUrl"
                      class="form-label"
                    >輸入圖片網址</label>
                    <input
                      type="text"
                      class="form-control"
                      placeholder="請輸入圖片連結"
                      v-model.trim="productData.imagesUrl[index]"
                      :key="'input'+index"
                    >
                    <img
                      v-if="img.length > 0"
                      class="img-fluid"
                      :src="img"
                      alt="圖片"
                    >
                  </div>
                </div>
                <div
                  v-if="!productData.imagesUrl.length > 0 || productData.imagesUrl[productData.imagesUrl.length -1].length > 0"
                >
                  <button
                    type="button"
                    @click="addImages"
                    class="btn btn-outline-primary btn-sm d-block w-100"
                  >
                    新增圖片
                  </button>
                </div>
                <div v-else>
                  <button
                    type="button"
                    class="btn btn-outline-danger btn-sm d-block w-100"
                    @click="productData.imagesUrl.pop()"
                  >
                    刪除圖片
                  </button>
                </div>
              </div>
              <div class="col-sm-8">
                <div class="mb-3">
                  <label
                    for="title"
                    class="form-label"
                  >標題</label>
                  <input
                    id="title"
                    type="text"
                    class="form-control"
                    placeholder="請輸入標題"
                    v-model.trim="productData.title"
                  >
                </div>

                <div class="row">
                  <div class="mb-3 col-md-6">
                    <label
                      for="category"
                      class="form-label"
                    >分類</label>
                    <input
                      id="category"
                      type="text"
                      class="form-control"
                      placeholder="請輸入分類"
                      v-model.trim="productData.category"
                    >
                  </div>
                  <div class="mb-3 col-md-6">
                    <label
                      for="price"
                      class="form-label"
                    >單位</label>
                    <input
                      id="unit"
                      type="text"
                      class="form-control"
                      placeholder="請輸入單位"
                      v-model.trim="productData.unit"
                    >
                  </div>
                </div>

                <div class="row">
                  <div class="mb-3 col-md-6">
                    <label
                      for="origin_price"
                      class="form-label"
                    >原價</label>
                    <input
                      id="origin_price"
                      type="number"
                      min="0"
                      class="form-control"
                      placeholder="請輸入原價"
                      v-model.number="productData.origin_price"
                    >
                  </div>
                  <div class="mb-3 col-md-6">
                    <label
                      for="price"
                      class="form-label"
                    >售價</label>
                    <input
                      id="price"
                      type="number"
                      min="0"
                      class="form-control"
                      placeholder="請輸入售價"
                      v-model.number="productData.price"
                    >
                  </div>
                </div>
                <hr>

                <div class="mb-3">
                  <label
                    for="description"
                    class="form-label"
                  >產品描述</label>
                  <textarea
                    id="description"
                    type="text"
                    class="form-control"
                    placeholder="請輸入產品描述"
                    v-model="productData.description"
                  >
                    </textarea>
                </div>
                <div class="mb-3">
                  <label
                    for="content"
                    class="form-label"
                  >說明內容</label>
                  <textarea
                    id="content"
                    type="text"
                    class="form-control"
                    placeholder="請輸入說明內容"
                    v-model="productData.content"
                  >
                    </textarea>
                </div>
                <div class="mb-3">
                  <div class="form-check">
                    <input
                      id="is_enabled"
                      class="form-check-input"
                      type="checkbox"
                      :true-value="1"
                      :false-value="0"
                      v-model="productData.is_enabled"
                    >
                    <label
                      class="form-check-label"
                      for="is_enabled"
                    >是否啟用</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-secondary"
              data-bs-dismiss="modal"
            >
              取消
            </button>
            <button
              type="button"
              class="btn btn-primary"
              @click="submitHandler"
            >
              確認
            </button>
          </div>
        </div>
      </div>
    </div>
    <div
      id="delProductModal"
      ref="delProductModal"
      class="modal fade"
      tabindex="-1"
      aria-labelledby="delProductModalLabel"
      aria-hidden="true"
    >
      <div class="modal-dialog">
        <div class="modal-content border-0">
          <div class="modal-header bg-danger text-white">
            <h5
              id="delProductModalLabel"
              class="modal-title"
            >
              <span>刪除產品</span>
            </h5>
            <button
              type="button"
              class="btn-close"
              data-bs-dismiss="modal"
              aria-label="Close"
            ></button>
          </div>
          <div class="modal-body">
            是否刪除
            <strong class="text-danger"></strong> 商品(刪除後將無法恢復)。
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-outline-secondary"
              data-bs-dismiss="modal"
            >
              取消
            </button>
            <button
              type="button"
              class="btn btn-danger"
            >
              確認刪除
            </button>
          </div>
        </div>
      </div>
    </div>
    <!-- Modal -->



  </div>
</body>
<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN"
  crossorigin="anonymous"
></script>
<script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
<script type="module">
  import { API } from './helper/api.js'
  const path = 'elsasyu'
  const { createApp } = Vue
  const app = {
    data() {
      return {
        detail: {},
        products: [],
        productModal: null,
        delProductModal: null,
        action: null,
        modalTitle: '',
        productData: {
          title: "",
          category: "",
          origin_price: "",
          price: "",
          unit: "",
          description: "",
          content: "",
          is_enabled: 1,
          imageUrl: "",
          imagesUrl: []
        }
      }
    },
    mounted() {
      this.checkLogin()
      this.productModal = new bootstrap.Modal(this.$refs.productModal)
      this.delProductModal = new bootstrap.Modal(this.$refs.delProductModal)
    },
    methods: {
      checkLogin() {
        API.post('api/user/check')
          .then(() => {
            this.getAllData()
          })
          .catch((error) => {
            location.href = '/login.html'
          })
      },
      getAllData() {
        API.get(`api/${path}/admin/products`)
          .then((res) => {
            const data = res.data.products
            this.products = data
          })
          .catch((error) => {
            alert('error!!')
            console.dir(error)
          })
      },
      openModal(action) {
        this.action = action
        if (action === 'add') {
          this.modalTitle = '新增產品'
        } else if (action === 'edit') {
          this.modalTitle = '編輯產品'
        }
        this.productModal.show()
      },
      addImages() {
        this.productData.imagesUrl.push('')
      },
      submitHandler() {
        let method = 'POST'
        let url = `​/api​/${path}​/admin​/product`
        if (this.action === 'edit') {
          method = "put"
          url = url + this.id
        }
      }

      // addData() {
      //   for (const item of this.addList) {
      //     API.post(`api/${path}/admin/product`, { data: item })
      //       .then((res) => {
      //         // const data = res.data.products
      //         console.log(res)
      //       })
      //       .catch((error) => {
      //         alert('error!!')
      //         console.dir(error)
      //       })
      //   }
      // },
    },
  }
  createApp(app).mount('#app')
</script>
<style scoped>
  .image {
    height: 150px;
  }
</style>

</html>